$green: #a9d06a;
$green2: #97bc5c;
$green3: #a9d06a;
$green4: #9fc564;
$black1: #4f4f4f;
$black2: #414149;
$white: white;
$pink: #fc7173;
$pink2: #eb5a5c;
$pink3: #f36668;
$yellow: #f8c741;
$yellow2: #e9b937;
$yellow3: #efc246;

$colors: (
	'black1': $black1,
	'black2': $black2,
	'green': $green,
	'green2': $green2,
	'green3': $green3,
	'green4': $green4,
	'pink': $pink,
	'pink2': $pink2,
	'pink3': $pink3,
	'yellow': $yellow,
	'yellow2': $yellow2,
	'yellow3': $yellow3,
	'white': $white
);

@each $name, $color in $colors {
	.bg-#{$name} {
		background-color: $color;
	}
}

@each $name, $color in $colors {
	.fontcolor-#{$name} {
		color: $color;
	}
}
