$green: #a9d06a;
$black1: #4f4f4f;
$white: white;

$colors: (
  'black1': $black1,
	'green': $green,
	'white': $white
);

@each $name, $color in $colors {
	.bg-#{$name} {
		background-color: $color;
	}
}

@each $name, $color in $colors {
	.fontcolor-#{$name} {
		color: $color;
	}
}
