* {
  padding: 0;
  margin: 0;
}

section {
  padding: 80px 20px;
}

.container {
  @include flex-center;
  // flex-direction: column;
  width: $containerWidth;

  @media (max-width: 1200px) {
    width: 100%;
  }
}

.flex-row {
  @include flex-center;
  flex-direction: row;
  // justify-content: space-between;
}

.flex-start {
  align-content: flex-start;
  align-items: flex-start !important;
}

.justify-left {
  justify-content: flex-start;
}

.flex-column {
  @include flex-center;
  flex-direction: column;
}

.flex-nowrap {
  flex-wrap: nowrap;

}

.button-rounded {
  @include flex-center;
  flex-direction: row;
  border: none;
  border-radius: 21px;
  cursor: pointer;
  margin: 4px 2px;
  // margin-top: 20px;
  padding: 12px 24px;
}

.button-rounded-empty {
  border: none;
  border-radius: 21px;
  cursor: pointer;
  margin: 4px 2px;
  // margin-top: 20px;
  padding: 12px 24px;
  border: 1px solid $white;
}

