* {
  padding: 0;
  margin: 0;
}

section {
  padding: 80px 20px;
}

.container {
  @include flex-center;
  // flex-direction: column;
  width: $containerWidth;

  @media (max-width: 1200px) {
    width: 100%;
  }
}

.flex-row {
  @include flex-center;
  flex-direction: row;
  // justify-content: space-between;
}

.flex-start {
  align-content: flex-start;
  align-items: flex-start !important;
}

.justify-left {
  justify-content: flex-start;
}

.flex-column {
  @include flex-center;
  flex-direction: column;
}

.flex-nowrap {
  flex-wrap: nowrap;

}

.button-rounded {
  @include flex-center;
  flex-direction: row;
  border: none;
  border-radius: 21px;
  cursor: pointer;
  margin: 4px 2px;
  // margin-top: 20px;
  padding: 12px 24px;
}

.button-rounded-empty {
  border: none;
  border-radius: 21px;
  cursor: pointer;
  margin: 4px 2px;
  // margin-top: 20px;
  padding: 12px 24px;
  border: 1px solid $white;
}

.plan {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  border-radius: 5px;
  margin: 10px;

  .plan-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 70px;

    .plan-price {
      padding: 20px 20px;
      border-radius: 3px;
    }
    
  }

  img {
    width: 294px;
    height: 81px;
    padding-bottom: 70px;
  }

  button {
    margin-top: 70px;
    padding: 20px 30px;
  }

  .plan-lists {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .plan-list {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 19px 0;
      width: 100%;

      
    }

    .plan-list:first-child {
      border-radius: 5px 5px 0 0 ;
    }

    .plan-list:last-child {
      border-radius:  0 0 5px 5px;
    }
  }
  
}

.center {
  text-align: center;
}

.section-comment {
  padding: 50px;
}

