@mixin size100Percent {
  width: 100%;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexSet($jus, $ali, $direct, $alicont) {
  display: flex;
  justify-content: $jus;
  align-items: $ali;
  flex-direction: $direct;
  align-content: $direct;
}