// colors
// $navyColor: #2c3e50;
// $navyColor2: #182430;
// $navyColor3: #4e6e8e;
// $coralColor: #e74c3c;
// $orangeRed: #ff5c26;
// $yellowColor: #fdbe00;
// $lightNavyColor: #879cb0;
// $grayColor: #eff3f3;
// $grayColor2: #e3e2e2;
// $cyanColor: #49a0ae;
$green: #a9d06a;
$black1: #4f4f4f;
// $greenColor2: #2ecc71;
// $greenColor3: #16a085;
// $greenColor4: #1abc9c;
// $melonColor: #a8cf69;
// $black3: #333333;
// $black5: #555555;
// $black7: #777777;
// $lightGreen: #eff3f3;
// $blueColor: #3b99d8;
// $skyblueColor: #5cace2;
// $blueColor2: #5399c7;
// $magentaColor: #a469bd;
// $lightMagentaColor: #a66dbf;
$white: white;
// size
$whatwedoPoints: 69%;
$containerWidth: 1180px;
// font-weight

//breakpoints
$nm: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;